@keyframes menu-build-arrest {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes animate-spinner {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes disband {
  0% {
    visibility: visible;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 1.6rem;
}

h1 {
  font-weight: 900;
}

.btn {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0.9em 2em;
  font-size: 1.6rem;
  border-radius: 50px;
  background-image: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0 2px 5px 2px #aaa;
  transition: all 0.2s;
}
@media screen and (min-width: 768px) {
  .btn {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 992px) {
  .btn:hover {
    filter: brightness(1.08);
    transform: translateY(-4px);
    box-shadow: 0 4px 4px 2px #666;
  }
}

.card-rest {
  position: relative;
  height: 17em;
  border-radius: 0.8em;
  box-shadow: 2px 2px 5px 2px #cecece;
  overflow: hidden;
  transition: all 0.2s;
}
@media screen and (min-width: 768px) {
  .card-rest {
    flex: 1 0 40%;
  }
}
@media screen and (min-width: 992px) {
  .card-rest {
    height: 22em;
  }
  .card-rest:hover {
    transform: translateY(-2px);
    box-shadow: 2px 3px 5px 2px #aaa;
  }
}
.card-rest:not(:last-child) {
  margin: 1.4em 0;
}
@media screen and (min-width: 768px) {
  .card-rest:not(:last-child) {
    margin: 0;
  }
}
.card-rest:nth-of-type(2) img {
  object-position: 0 -10.5em;
}
.card-rest__anchor {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.card-rest__image {
  height: 70%;
}
.card-rest__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  overflow: hidden;
}
.card-rest__info {
  height: 30%;
  background-color: white;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 0 0.8em;
}
.card-rest__info h2 {
  margin-bottom: 0.3em;
  font-size: 2.2rem;
}
.card-rest__info p {
  font-size: 2rem;
}
.card-rest__info div {
  text-decoration: none;
  position: absolute;
  top: 1.3em;
  right: 1.5em;
  z-index: 5;
}
.card-rest__info div input[type=checkbox] {
  position: absolute;
  visibility: hidden;
  top: -1000px;
  left: -1000px;
}
.card-rest__info div input[type=checkbox]:checked ~ i:last-child {
  opacity: 1;
}
@media screen and (min-width: 992px) {
  .card-rest__info div input[type=checkbox]:hover ~ i:last-child {
    opacity: 1;
  }
}
.card-rest__info div label {
  position: absolute;
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  top: -5px;
  left: -5px;
  z-index: 10;
  cursor: pointer;
}
.card-rest__info div i {
  font-size: 3rem;
  color: #9356DC;
}
.card-rest__info div i:last-child {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s;
}
.card-rest--new .card-rest__anchor::before {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1em;
  right: 1em;
  height: 2em;
  width: 5.8em;
  content: "New";
  color: #278870;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: #99E2D0;
  border-radius: 2px;
}
.card-menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  text-decoration: none;
  background-color: #fff;
  border-radius: 1em;
  margin: 1em 0;
  color: black;
  box-shadow: 2px 2px 5px 2px #cecece;
  overflow: hidden;
  opacity: 0;
  transition: all 0.2s;
}
@media screen and (min-width: 768px) {
  .card-menu {
    margin: 0 3px;
    flex: 0 1 31%;
    margin-top: 0;
  }
}
.card-menu div:first-of-type {
  position: relative;
  padding: 0.75em;
  flex: 1 0;
  min-width: 0;
  margin-right: 2rem;
}
.card-menu div:first-of-type h3:first-of-type {
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-menu div:first-of-type p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  margin-right: 2em;
  margin-top: 0.3em;
}
.card-menu div:first-of-type h3:last-of-type {
  position: absolute;
  bottom: 0.8em;
  right: 0;
  font-size: 1.5rem;
}
.card-menu div:last-of-type {
  position: relative;
  flex: 0 0;
  flex-basis: 0;
  background-color: #99E2D0;
  margin-left: 0;
  width: 0;
  transition: all 0.3s;
}
.card-menu div:last-of-type i {
  visibility: hidden;
  color: #99E2D0;
  background-color: white;
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.5rem;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  left: 50%;
  transition: all 0.3s;
}
.card-menu:focus div:last-of-type {
  flex-basis: 4em;
}
.card-menu:focus div:last-of-type i {
  visibility: visible;
  transform: translate(-50%, -50%) rotateZ(360deg);
}
@media screen and (min-width: 992px) {
  .card-menu:hover div:last-of-type {
    flex-basis: 4em;
  }
  .card-menu:hover div:last-of-type i {
    visibility: visible;
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}
.card-menu:nth-of-type(1) {
  animation: menu-build-arrest 0.25s linear 0.25s forwards;
}
.card-menu:nth-of-type(2) {
  animation: menu-build-arrest 0.25s linear 0.5s forwards;
}
.card-menu:nth-of-type(3) {
  animation: menu-build-arrest 0.25s linear 0.75s forwards;
}
.card-menu:nth-of-type(4) {
  animation: menu-build-arrest 0.25s linear 1s forwards;
}
.card-menu:nth-of-type(5) {
  animation: menu-build-arrest 0.25s linear 1.25s forwards;
}
.card-menu:nth-of-type(6) {
  animation: menu-build-arrest 0.25s linear 1.5s forwards;
}
.card-menu:nth-of-type(7) {
  animation: menu-build-arrest 0.25s linear 1.75s forwards;
}
.card-menu:nth-of-type(8) {
  animation: menu-build-arrest 0.25s linear 2s forwards;
}
.card-menu:nth-of-type(9) {
  animation: menu-build-arrest 0.25s linear 2.25s forwards;
}
.card-menu:nth-of-type(10) {
  animation: menu-build-arrest 0.25s linear 2.5s forwards;
}

.header {
  box-shadow: 0 2px 5px 2px #aaa;
  clip-path: inset(0 0 -7px 1px);
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-flow: row nowrap;
  padding: 1.4em 0 0.8em 0;
}
@media screen and (min-width: 992px) {
  .header {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
  }
}
.header .logo {
  flex: 1 0;
  text-align: center;
  z-index: 10;
}
.header a i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 11;
  padding: 20px;
  font-size: 2rem;
  color: #333;
}
@media screen and (min-width: 768px) {
  .header a i {
    font-size: 3rem;
  }
}

.main .section {
  padding: 3em 1.5em 3.8em 1.5em;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer .content {
  background-color: #333;
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  padding: 2em 1.7em;
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.6rem;
}
@media screen and (min-width: 768px) {
  .footer .content {
    flex-flow: row wrap;
    font-size: 2rem;
  }
}
.footer .content .logo {
  width: 100%;
}
.footer .content .logo img {
  filter: invert(100%);
  width: 7em;
}
.footer .content a {
  display: block;
  margin: 0.6em 0 0 0;
  text-decoration: none;
  color: inherit;
}
@media screen and (min-width: 768px) {
  .footer .content a {
    flex: 1 0 50%;
  }
}
.footer .content a:nth-of-type(1) {
  order: 1;
}
.footer .content a:nth-of-type(2) {
  order: 2;
}
@media screen and (min-width: 768px) {
  .footer .content a:nth-of-type(2) {
    order: 3;
  }
}
.footer .content a:nth-of-type(3) {
  order: 3;
}
@media screen and (min-width: 768px) {
  .footer .content a:nth-of-type(3) {
    order: 2;
  }
}
.footer .content a:nth-of-type(4) {
  order: 4;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .footer .content a:nth-of-type(4) {
    margin-bottom: 0;
  }
}
.footer .content a i {
  font-size: 1.3rem;
  width: 2em;
}

.section-location {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  background-color: #cecece;
  padding: 1em 0;
  position: relative;
  z-index: -1;
  color: #333;
  font-size: 1.8rem;
}
@media screen and (min-width: 768px) {
  .section-location {
    font-size: 2.2rem;
  }
}
.section-location i {
  margin-right: 1em;
}

.section-book {
  background-color: #eeeeee;
  box-shadow: 0 -1px 5px 2px #aaa;
  clip-path: inset(-7px 0 0 0);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  text-align: center;
}
.section-book h1 {
  margin-bottom: 1.4em;
  font-size: 2.6rem;
}
@media screen and (min-width: 768px) {
  .section-book h1 {
    font-size: 4rem;
    margin-bottom: 0.8em;
  }
}
.section-book p {
  color: #666;
  margin-bottom: 2em;
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
  .section-book p {
    font-size: 2.5rem;
  }
}

.section-how-it-works {
  background-color: white;
}
@media screen and (min-width: 992px) {
  .section-how-it-works {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
  }
}
@media screen and (min-width: 768px) {
  .section-how-it-works h1 {
    font-size: 3rem;
  }
}
.section-how-it-works ul {
  list-style-type: none;
  margin-left: 0.6em;
}
@media screen and (min-width: 768px) {
  .section-how-it-works ul {
    display: flex;
    gap: 1.8em;
    justify-content: center;
  }
}
@media screen and (min-width: 992px) {
  .section-how-it-works ul {
    gap: 2.5em;
  }
}
.section-how-it-works ul li:nth-child(1) a::before {
  content: "1";
}
.section-how-it-works ul li:nth-child(2) a::before {
  content: "2";
}
.section-how-it-works ul li:nth-child(3) a::before {
  content: "3";
}
@media screen and (min-width: 768px) {
  .section-how-it-works ul li {
    flex: 1 0 30%;
  }
}
.section-how-it-works ul li a {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
  height: 4.5em;
  margin-top: 1.6em;
  padding-left: 1.5em;
  border-radius: 1.2em;
  background-color: #eeeeee;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  box-shadow: 0 2px 5px 2px #cecece;
}
@media screen and (min-width: 768px) {
  .section-how-it-works ul li a {
    padding: 0 0.4em 0 1em;
    font-size: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .section-how-it-works ul li a {
    transition: all 0.2s;
  }
  .section-how-it-works ul li a:hover {
    transform: translateY(-2px);
    box-shadow: 2px 3px 5px 2px #aaa;
  }
}
.section-how-it-works ul li a i {
  padding-right: 0.8em;
  color: #666;
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
  .section-how-it-works ul li a i {
    padding-right: 0.4em;
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .section-how-it-works ul li a i {
    padding: 0 0.5em;
  }
}
.section-how-it-works ul li a::before {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -1em;
  height: 1.8em;
  width: 1.8em;
  background-color: #9356DC;
  border-radius: 50%;
  color: #eeeeee;
  font-size: 1.6rem;
}
@media screen and (min-width: 768px) {
  .section-how-it-works ul li a::before {
    left: -1.2em;
    height: 2em;
    width: 2em;
  }
}
@media screen and (min-width: 992px) {
  .section-how-it-works ul li a::before {
    height: 2em;
    width: 2em;
    font-size: 2rem;
  }
}
.section-how-it-works ul .li--active a {
  background-color: rgba(147, 86, 220, 0.15);
}
.section-how-it-works ul .li--active a i {
  color: #9356DC;
}

.section-restaurants {
  background-color: #eeeeee;
}
@media screen and (min-width: 768px) {
  .section-restaurants {
    display: flex;
    flex-flow: row wrap;
    gap: 1.5em;
  }
}
.section-restaurants h1 {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .section-restaurants h1 {
    font-size: 3rem;
  }
}

.onload {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  padding-top: 1em;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  animation: disband 2s linear 1;
}
.onload .spinner {
  height: 10rem;
  width: 10rem;
  border: 0.8rem solid #cecece;
  border-top: 0.8rem solid #9356DC;
  border-radius: 50%;
  margin-top: 3em;
  animation: animate-spinner 0.6s linear 3;
}

.restaurant {
  overflow: hidden;
}
.restaurant__background {
  position: relative;
  z-index: 1;
}
.restaurant__background img {
  max-height: 275px;
  object-fit: cover;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .restaurant__background {
    object-position: 0 -10.5em;
  }
}
@media screen and (min-width: 992px) {
  .restaurant__background {
    object-position: 0 -15em;
  }
}
.restaurant__body {
  background-color: #eeeeee;
  border-top-left-radius: 2.5em;
  border-top-right-radius: 2.5em;
  transform: translateY(-2.7em);
  margin-bottom: -2.7em;
  padding: 1.4em 1em 3.2em 1em;
  position: relative;
  z-index: 2;
}
.restaurant__body .name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em 0 0;
}
.restaurant__body .name h1 {
  font-family: Shrikhand, sans-serif;
  letter-spacing: 0.5px;
  font-weight: 600;
}
.restaurant__body .name i {
  font-size: 3rem;
  color: #666;
}
@media screen and (min-width: 768px) {
  .restaurant__body .menu {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
  }
}
.restaurant__body .menu__title {
  text-transform: uppercase;
  color: #333;
  font-weight: 200;
  position: relative;
  padding: 1.5em 0 0.5em 0;
}
@media screen and (min-width: 768px) {
  .restaurant__body .menu__title {
    width: 100%;
  }
}
.restaurant__body .menu__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 3px solid #99E2D0;
  width: 2.4em;
}
.restaurant__body .btn {
  margin-top: 2em;
  padding-left: 5em;
  padding-right: 5em;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/*# sourceMappingURL=style.css.map */
