// RESETS
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



// TYPOGRAPHY
html {
    font-size: 62.5%;
    font-family: $font-text;

    @include breakpoint-tablet {
        font-size: 75%;
    }
}

body {
    font-size: 1.6rem;
}

h1 {
    font-weight: 900;
}



