.btn {
    color: white;
    text-decoration: none;
    padding: 1.5rem 2rem;
    border-radius: 50px;
    // margin-bottom: 2rem;
    background-image: linear-gradient($color-secondary, $color-primary);
    @include box-shadow($x:0);
}


.card {

    &--new {

    }
}