// BUTTONS
.btn {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 1.5rem 2rem;
    border-radius: 50px;
    background-image: linear-gradient($color-secondary, $color-primary);
    @include box-shadow($x:0, $color:$color-grey);
    transition: all 0.2s;

    &:hover {
        filter: brightness(1.08);
        transform: translateY(-2px);
        @include box-shadow($x:0, $y:4px, $blur:8px, $spread:1px, $color:$color-grey-dark);
    }
}


// CARDS
.card {
    position: relative;
    height: 23rem;
    border-radius: 10px;
    @include box-shadow;
    overflow: hidden;
    transition: all 0.2s;

    @include breakpoint-tablet {
        flex: 1 0 40%;
    }

    &:hover {
        @include breakpoint-desktop {
            transform: translateY(-2px);
            @include box-shadow($y: 3px, $color: $color-grey);
        }
    }
    
        
    
    &:not(:last-child){
        margin: 2rem 0;
        @include breakpoint-tablet {margin: 0;}
    }

    &:nth-of-type(2) img {
        object-position: 0 -140px;
    }

    &__anchor {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;

    }

    &__image {
        height: 70%;
        
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            
            object-position: bottom;
            overflow: hidden;
        }
    }

    &__info {
        height: 30%;
        background-color: white;
        // font-size: 70%;
        position: relative;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        padding: 0 1rem;

        
        h2 {
            margin-bottom: .5rem;
            font-size: 1.7rem;
        }

        div {
            text-decoration: none;
            position: absolute;
            top: 1.8rem;
            right: 2rem;
            z-index: 5;

            input[type=checkbox] {
                position: absolute;
                visibility: hidden;
                top: -1000px;
                left: -1000px;
                
                &:checked ~ i:last-child {
                    opacity: 1;
                }
            }

            label {
                position: absolute;
                height: calc(100% + 10px);
                width: calc(100% + 10px);
                top: -5px;
                left: -5px;
                z-index: 10;
                cursor: pointer;
            }

            i { 
                font-size: 2.2rem;
                color: $color-primary;
                
                &:last-child {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    transition: all 0.5s;
                }
            }
        }
    }

    &--new &__anchor::before {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 25px;
        width: 70px;
        
        content: 'New';
        color: darken($color-tertiary, 50%);
        text-align: center;
        line-height: 25px;
        font-size: 1.2rem;
        background-color: $color-tertiary;
        border-radius: 2px;
    }
}