.header {
    display: flex;
    flex-flow: column nowrap;
    @include flex-center;
    padding: 2rem 0 1rem 0;
    // box-shadow: 0 1px 5px 2px $color-grey;
    @include box-shadow($x:0, $color:$color-grey);
}

.section {
    padding: 4rem 2rem 5.5rem 2rem;
}

.footer {
    background-color: $color-grey-darker;
    color: white;
    padding: 3rem 2rem;

    .logo {     
        img {
            filter: invert(100%);
            width: 10.5rem;
        }
    }

    a {
        display: block;
        margin: 1rem 0;
        text-decoration: none;
        color: inherit;

        &:last-of-type {
            margin-bottom: 2rem;
        }

        i {
            font-size: 1.3rem;
            width: 2.5rem;
        }
    }
}