.header {
    @include box-shadow($x:0, $y:2px, $color:$color-grey);
    @include flex-center;
    flex-flow: row nowrap;
    position: relative;
    padding: 1.4em 0 .8em 0;
    
    @include breakpoint-desktop {
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
    }

    .logo {
        text-align: center;
    }

    .nav {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        z-index: 11;
        padding: 20px;
        font-size: 2rem;
        color: $color-grey-darker;

        @include breakpoint-tablet {
            font-size: 3rem;
        }
    }
}

.main {
    // @include max-width;
    .section {
        padding: 3em 1.5em 3.8em 1.5em;
    }
}

.footer {
    height: 100%;
    background-color: $color-grey-darker;
    position: relative;
    z-index: 5;
    .container {
        color: white;
        padding: 2em 1.7em;
        display: flex;
        flex-flow: column nowrap;
        font-size: 1.6rem;
        
        @include breakpoint-tablet {
            flex-flow: row wrap;
            font-size: 2rem;
        }
        
        .logo {
            width: 100%;
            margin: .5em 0 .75em 0;
            
            img {
                filter: invert(100%);
                width: 7em;
            }
        }
        
        a {
            display: block;
            margin: .6em 0 0 0;
            text-decoration: none;
            color: inherit;
            
            @include breakpoint-tablet {
                flex: 1 0 50%
            }
            
            &:nth-of-type(1){
                order: 1;
            }
            
            &:nth-of-type(2){
                order: 2;
                @include breakpoint-tablet {
                    order: 3;
                }
            }
            
            &:nth-of-type(3){
                order: 3;
                @include breakpoint-tablet {
                    order: 2;
                }
            }
            
            &:nth-of-type(4){
                order: 4;
                margin-bottom: 2rem;

                @include breakpoint-tablet {
                    margin-bottom: 0;
                }
            }
            
            i {
                font-size: 1.3rem;
                width: 2em;
            }
        }
    }
}

.container{
    @include max-width;
}