// VARIABLES
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-grey-lighter: #eeeeee;
$color-grey-light: #cecece;
$color-grey: #aaa;
$color-grey-dark: #666;
$color-grey-darker: #333;

$font-logo: 'Shrikhand', cursive;
$font-text: 'Roboto', sans-serif;



// MIXINS
@mixin box-shadow($x:2px, $y:2px, $blur:5px, $spread:2px, $color:$color-grey-light){
    box-shadow: $x $y $blur $spread $color;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin breakpoint-tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)){
        @content;
    }
}

@mixin breakpoint-desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}



// MAPS
$breakpoints:(
    desktop: 992px,
    tablet: 768px
);



// ANIMATIONS
@keyframes menu-build-arrest {
    0% {opacity: 0; transform: translateY(10px);}
    40% {opacity: 1;}
    100% {opacity: 1; transform: translateY(0);}
}

@keyframes animate-spinner {
    0% {transform: rotateZ(0deg);}
    100% {transform: rotateZ(360deg);}
}

@keyframes disband {
    0% {visibility: visible;}
    90% {opacity: 1;}
    100% {opacity: 0; visibility: hidden;}
}