// VARIABLES
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-grey-lighter: #eeeeee;
$color-grey-light: #e4e4e4;
$color-grey: #aaa;
$color-grey-dark: #666;
$color-grey-darker: #444;

$font-logo: 'Shrikhand', cursive;
$font-text: 'Roboto', sans-serif;



// MIXINS
@mixin box-shadow($x:2px, $y:2px, $blur:5px, $spread:2px, $color:$color-grey){
    box-shadow: $x $y $blur $spread $color;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin breakpoint-tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)){
        @content;
    }
}

@mixin breakpoint-desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}



// MAPS
$breakpoints:(
    desktop: 1200px,
    tablet: 992px,
    mobile: 768px
);